<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.houserss.dao.UserLogMapper" >
  <resultMap id="BaseResultMap" type="com.houserss.pojo.UserLog" >
    <constructor>
      <idArg column="id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="userId" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="eventId" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="logDate" jdbcType="VARCHAR" javaType="java.lang.String" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    id, userId,eventId,logDate
  </sql>
  
  <insert id="insert" parameterType="com.houserss.pojo.UserLog">
    insert into houserss_userlog (userId,eventId,logDate) values
    (#{userId},#{eventId},#{logDate})
  </insert>
  
</mapper>